/**
 *
 * Apply your custom CSS here
 *
*/
body {
	
}

a {
	
}

div.record-item {
	display: block;
	float: left;
	margin: 5px;
	min-width: 360px;
	background: white;
}

div.record-item img.record-img {
	padding: 5px;
	float: left;
	background: white;
	height: 160px;
}

div.record-item span {
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	padding: 5px;
}